
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --a-color: #666;
  --a-hover-color: #333;
  --text-color: #333;
  --text-sub-color: #555;
}

html.dark {
  background: #121212;
  color-scheme: dark;
  --a-color: #eee;
  --a-hover-color: #f5f5f5;
  --text-color: #333;
  --text-sub-color: #aaa;
}

.wrapper {
  margin: 0 auto;
  max-width: 900px;
}
