
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;

}

:root {
  --a-color: #878d97;
  --a-hover-color: #374151;
  --text-color: #333;
  --text-sub-color: #5f5f5f;
  --theme-color: #49cc90;
}

html.dark {
  background: #1e293b;
  color-scheme: dark;
  --icon-a-hover-color: #fff;
  --a-color: #8a8b8e;
  --a-hover-color: #e5e7eb;
  --text-color: #f5f5f5;
  --text-sub-color: #bbb;

}

.wrapper {
  margin: 0 auto;
  max-width: 900px;
}

.theme-color {
  color: var(--theme-color);
}
.theme-bg {
  background: var(--theme-color);
}

.text-color {
  color: var(--text-color);
}

.text-sub-color {
  color: var(--text-sub-color);
}
